/* Fontes */
@font-face { font-family: RougeScript; src: url('../src/fonts/RougeScript-Regular.ttf'); }
@font-face { font-family: Butler; src: url('../src/fonts/Butler_Regular.otf'); }
@font-face { font-family: ChopinScript; src: url('../src/fonts/ChopinScript.otf'); }

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

/* Início Parallax */
.container {
	display: flex;
	position: relative;
	width: 100%;
	min-width: 320px;
	min-height: 100%;
}
.parallax {
	background-position: center top !important;
}
.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}
/* Fim Parallax */
.bg-black{
	display: flex;
	display: -webkit-flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	min-width: 320px;
	min-height: calc(100% - 100px);
	padding: 50px 0;

}
#logo {
	width: 80%;
	max-width: 800px;
	margin-bottom: 20px;
	
}

/* Início moldura */
.moldura {
	position: absolute;
	width: 130px;
}
.a-top { top: 20px; }
.a-left { left: 20px; }
.a-right { right: 20px }
.a-bottom { bottom: 20px; }
.g-90 { transform: rotate(90deg); }
.g-180 { transform: rotate(180deg); }
.g-90a { transform: rotate(-90deg); }
/* Fim moldura */

/* Início Menu */
#menu {
	display: flex;
	width: 100%;
	z-index: 5000;
	font-weight: normal;
	align-items: center;
	color: #FFF;
	flex-wrap: wrap;
	justify-content: center;
}
#menu a {
	font-family: Butler;
	display: block;
	padding: 3px 10px;
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
}
#menu a:first-child {
	border-left: none;
}
#menu a:hover {
	text-decoration: underline;
}
.menu-normal {
	position: relative;
	top: 10px;
}
.menu-fixo {
	position: fixed;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
	top: 0;
	z-index: 9999;
}
#barra-menu {
	display: none;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	position: fixed;
	top:0;
	z-index: 2000;
	height: 55px;
}
#barra-menu img {
	display: flex;
	height: 45px;
}
#barra-menu a {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 0 7px;
	font-size: 28px;
	color: #FFF;
	text-decoration: none;
}
#barra-menu a:hover {
	background-color: rgba(255,255,255,0.5);
}
#menu-lateral {
	display: none;
	flex-direction: column;
	position: fixed;
	background-image: linear-gradient(#FFF, #EEE);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3000;
}
#menu-lateral a {
	display: flex;
	font-family: sans-serif;
	color: #946129;
	text-decoration: none;
	padding: 10px 5px;
	border-bottom: 1px solid #EEE;
}
#menu-lateral a:hover {
	background-color: #EEE;
}
#header-menu-lateral p {
	display: flex;
	justify-content: center;
	background-color: #946129;
	margin: 0;
	font-family: ChopinScript;
	font-size: 20px;
	color: #FFF;
	padding: 5px 10px;
}
#header-menu-lateral {
	background: #946129 ;
	display: flex;
	flex-direction: row;
	
}
#header-menu-lateral a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #946129;
	border: none;
	padding: 0 20px;
	font-size: 20px;
	color: #FFF;
}
#header-menu-lateral a:hover {
	background-color: #a8835a;
}

/* Fim menu */
.formRecado {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: -ms-calc(100% - 40px);
	width: -o-calc(100% - 40px);
	width: calc(100% - 40px);
	max-width: 900px;
	min-width: 260px;
	background-color: #FFF;
	border-radius: 10px;
	font-family: sans-serif;
	padding: 20px;
}
.formItem {
	display: flex;
	flex: 1;
	width: 100%;
	flex-direction: column;
}
.formLabel {
	color: #333;
	padding: 5px 0;
}

.formInput{
	padding: 5px;
	
}
.formTextarea {
	resize: none
}
.formButtom {
	display: flex;
	flex: 1;
	width: 100%;
	justify-content: center;
	padding: 10px;
	background-color: #946129;
	color: #FFF;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	margin-top: 10px;
}

#containerRecados {
	width: calc(100% - 4px);
}
.recadoItem {
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 10px;
	font-family: Butler;
	border: 2px solid #555;
	color: #FFF;
}
.recadoItem:first-child {
	margin-top: 10px;
}
.recadoItem:last-child {
	margin-bottom: 0;
}
.recadoItem h5 {
	padding: 0;
	margin: 0;
	font-size: 20px;
	padding-bottom: 2px;
	font-weight: bold;
	border-bottom: 2px solid #555;
}
.recadoItem p {
	font-size: 18px;
	padding-bottom: 2px;
}
.noivos-galeria {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}
.noivos-item {
	display: flex;
	width: 48%;
}
.noivos-imagem {
	display: flex;
	width: calc(100% - 10px);
	background-color: #FFF;
	padding: 5px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.noivos-imagem img {
	display: flex;
	width: 100%;
}
.noivos-item p {
	width: 100%;
	display: flex;
	padding: 5px;
	margin: 0;
	font-family: Butler;
	font-size: 20px;
	color: #FFF;
	text-align: justify;
	
}
.pessoas-galeria {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
}
.pessoas-item {
	display: flex;
	width: 48%;
	margin-bottom: 2%;
	justify-content: center;
}
.pessoas-item-full {
	display: flex;
	width: 100%;
	margin-bottom: 2%;
	justify-content: center;
}
.pessoas-imagem {
	display: flex;
	flex-direction: column;
	width: calc(100% - 10px);
	background-color: #FFF;
	padding: 5px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.pessoas-imagem-menor {
	display: flex;
	flex-direction: column;
	width: calc(48% - 10px);
	background-color: #FFF;
	padding: 5px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.pessoas-imagem img, .pessoas-imagem-menor img {
	display: flex;
	width: 100%;
}
.pessoas-imagem p, .pessoas-imagem-menor p {
	width: 100%;
	text-align: center;
	padding: 0;
	margin:2px 0;
	margin-top: 5px;
	font-family: sans-serif;
	color: #946129;
	font-weight: bold;
}
.titulo {
	font-family: RougeScript;
	font-size: 60px;
	text-align: center;
	padding: 10px 0;
	margin: 0;
	color: #FFF;
}
#frame-mapa {
	width: 100%;
	padding-top: 20px;
	height: 450px;
}
#btn-confirmar {
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	display: block;
	width: 90%;
	max-width: 200px;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	transition: all 0.5s;
	margin-top: 20px;
}
#btn-confirmar:hover {
	background-color: rgba(255,255,255,0.8);
	color: #333;
	font-size: 18px;
	padding: 15px;
	max-width: 230px;
	border-radius: 8px;
}
.galeria-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	margin-top: 10px;
}
.galeria-item, .galeria-item-full {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32%;
	margin-bottom: 3%;
}
.galeria-item-full {
	width: 100%;
	margin-bottom: 0;
}
.img-container {
	padding: 5px;
	height: 0;
	width: calc(100% - 10px);
	padding-bottom: 100%;
	background-color: #FFF;
	position: relative;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.img-container-full {
	display: flex;
	padding: 5px;
	height: 0;
	width: 32%;
	padding-bottom: 32%;
	background-color: #FFF;
	position: relative;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.img-container img {
	display: inline-block;
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	object-fit: cover;
}
.img-container-full img {
	display: inline-block;
	position: absolute;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	object-fit: cover;
}

.content-all {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: -webkit-calc(100% - 10px);
	width: -moz-calc(100% - 10px);
	width: -ms-calc(100% - 10px);
	width: -o-calc(100% - 10px);
	width: calc(100% - 10px);
	max-width: 900px;
	min-width: 310px;
	padding: 5px
}
#conteudo {
	padding: 0;
	margin: 0;
	margin-top: 55px;
	height: calc(100% - 55px);
	width: 100%;
}
.p1 {
	font-family: Butler;
	font-size: 30px;
	color: #FFF;
	padding: 0;
	margin: 0;
}
.p2 {
	font-family: Butler;
	font-size: 20px;
	color: #FFF;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
@media (max-width: 900px) {
	#barra-menu { display: flex; }
	#menu { display: none; }
	#home { margin-top: 55px; min-height: calc(100% - 55px);}
	#home .parallax {background-position: center 55px !important}
}
@media (max-width: 800px) {
	.moldura { width: 100px; }
	.a-top { top: 15px; }
	.a-left { left: 15px; }
	.a-right { right: 15px }
	.a-bottom { bottom: 15px; }
	.p1 { font-size: 25px; }
	.p2, .noivos-galeria p { font-size: 18px; }
	#frame-mapa { height: 300px; }
	
}
@media (min-width: 901px) {
	#menu-lateral { display: none !important }
	#conteudo { height: 100%; margin-top: 0; }
}
@media (max-width: 700px) {
	.noivos-galeria { flex-direction: column; }
	.noivos-item { width: 100%; }
}
@media (max-width: 600px) {
	#noivos-galeria { flex-direction: column; }
	.moldura { width: 80px; }
	.a-top { top: 10px; }
	.a-left { left: 10px; }
	.a-right { right: 10px; }
	.a-bottom { bottom: 10px; }
	.p1{ font-size: 20px; }
	.p2, .noivos-galeria p{ font-size: 16px; }
	#frame-mapa { height: 250px;}
}
